<script src="/static/javascript/jquery.md5.js"></script>
<script type="text/javascript">
var ws,client_id, name, client_list={};
    function onSubmit() {
        var msg = document.getElementById("msg");
        var showMessage = document.getElementById("showMessage");
        if (!ws) {
            return false;
        }
        if (!msg.value) {
            return false;
        }
        client_id = $.md5(name);
        var client_name = name;
        ws.send('{"type":"say","client_id":"'+client_id+'","client_name":"'+client_name+'","content":"'+msg.value.replace(/"/g, '\\"').replace(/\n/g,'\\n').replace(/\r/g, '\\r')+'"}');
        msg.value = "";
        msg.focus();
        return false;
    };
    if (window["WebSocket"]) {
        connect();
    } else {
        var item = document.createElement("div");
        item.innerHTML = "<b>Your browser does not support WebSockets.</b>";
        appendLog(item);
    }

    // 连接服务端
    function connect() {
       var ishttps = 'https:' == document.location.protocol ? true: false;
       if(ishttps){
           ws = new WebSocket("wss://" + document.location.host + "/ws");
       }else{
           ws = new WebSocket("ws://" + document.location.host + "/ws");
       }
       ws.onopen = onopen;
       ws.onmessage = onmessage; 
       ws.onclose = function() {
          console.log("连接关闭，定时重连");
          connect();
       };
       ws.onerror = function() {
          console.log("出现错误");
       };
    }

    // 连接建立时发送登录信息
    function onopen()
    {
        if(!name)
        {
            show_prompt();
        }
        // 登录
        
        client_id = $.md5(name);
        var login_data = '{"type":"login","client_id":"'+client_id+'","client_name":"'+name.replace(/"/g, '\\"')+'","room_id":"1"}';
        console.log("websocket握手成功，发送登录数据:"+login_data);
        ws.send(login_data);
    }

    // 服务端发来消息时
    function onmessage(e)
    {
        console.log(e.data);
        var data = eval("("+e.data+")");
        switch(data['type']){
            // 服务端ping客户端
            case 'ping':
                ws.send('{"type":"pong"}');
                break;;
            // 登录 更新用户列表
            case 'login':
                console.log(data['client_name']+"登录成功");
                appendLog(data['client_name'], data['content'],data['client_id'],'system');
                console.log("这里开始添加用户列表");
                if(data['client_list'])
                {
                    client_list = data['client_list'];
                }
                else
                {
                    client_list[data['client_id']] = data['client_name']; 
                }
                console.log(client_list);
                flush_client_list();
                break;
            // 发言
            case 'say':
                appendLog(data['client_name'], data['content'],data['client_id'],'user');
                break;
            // 用户退出 更新用户列表
            case 'logout':
                say(data['client_id'], data['client_name'], data['client_name']+' 退出了', data['time']);
                delete client_list[data['client_id']];
                flush_client_list();
        }
    }

    // 刷新用户列表框
    function flush_client_list(){
        var userlist_window = $("#userList");
        userlist_window.empty();
        userlist_window.append('<h4>在线用户</h4><ul>');
        for(var p in client_list){
            userlist_window.append('<li id="'+p+'"><img class="media-object" style="width:48px;height:48px;" src="/static/images/portrait.jpg" alt="">'+client_list[p]+'</li>');
        }
        userlist_window.append('</ul>');
    }

    // 输入姓名
    function show_prompt(){  
        name = prompt('输入你的名字：', '');
        if(!name || name=='null'){  
            name = '游客';
        }
    }  

    function appendLog(username,content,publish_time,type) {
        var publish_time=NowTime();
        var doScroll = showMessage.scrollTop > showMessage.scrollHeight - showMessage.clientHeight - 1;
        if(type == "system") {
            $("#showMessage").append('<li class="media"><div class="media-action" style="margin-top:0px;"><a href="javascript:;" style="color:#428bca">'+username+'</a> 加入了聊天室 登录于 '+publish_time+' CST</div><div class="media-body"><h2 class="media-heading"><lable></lable></h2></div></li>');
        }else {
            $("#showMessage").append('<li class="media"><a class="pull-left" href="/user/13" data-original-title="" title=""><img class="media-object" style="width:48px;height:48px;" src="/static/images/portrait.jpg" alt=""></a><div class="media-action" style="margin-top:0px;"><a href="javascript:;" style="color:#428bca">'+username+'</a> 发布于 '+publish_time+' CST</div><div class="media-body"><h2 class="media-heading"><lable>'+content+'</lable></h2></div></li>');
        }
        if (doScroll) {
            showMessage.scrollTop = showMessage.scrollHeight - showMessage.clientHeight;
        }
    }

    function NowTime(){ 
        var curTime=new Array(); 
        var now=new Date(); 
        var week=['日','一','二','三','四','五','六']; 
        var year=now.getFullYear();   //年 
        var month=now.getMonth()+1;   //月 
        var day=now.getDate();      //日 
        var hh=now.getHours();      //时 
        var mm=now.getMinutes();     //分 
        var sc=now.getSeconds();     //秒 
        var wk=now.getDay();       //周 
        curTime['year']=year; 
        curTime['month']=month<10?'0'+month:month; 
        curTime['day']=day<10?'0'+day:day; 
        curTime['hh']=hh<10?'0'+hh:hh; 
        curTime['mm']=mm<10?'0'+mm:mm; 
        curTime['sc']=sc<10?'0'+sc:sc; 
        curTime['wk']='星期'+week[wk]; 
        curTime=curTime['year']+'-'+curTime['month']+'-'+curTime['day']+'-'+' '+curTime['wk']+' '+curTime['hh']+':'+curTime['mm']+':'+curTime['sc']; 
        return curTime;
    } 
 


</script>
<style type="text/css">
#showMessage ,#userList{
margin: 0;
background-color: #f5f5f5;
border-radius: 4px;
padding: 0.5em 0.5em 0.5em 0.5em;
top: 0.5em;
left: 0.5em;
right: 0.5em;
bottom: 3em;
height:300px;
overflow: auto;
}

#send {
margin-top:15px;
}

#form {
padding: 0 0.5em 0 0.5em;
left: 0px;
width: 100%;
overflow: hidden;
}

</style>
<div class="col-md-8" >
    <div id="showMessage" class="media-list"></div>
    <div id="send">
        <form id="form" onsubmit="onSubmit(); return false;">
            <input type="submit" value="Send" />
            <input type="text" id="msg" size="64"/>
        </form>
    </div>
</div>
<div class="col-md-4" >
    <div id="userList" class="media-list">
        <li class="media">
            <a class="pull-left" href="javascript:;" data-original-title="" title=""><img class="media-object" style="width:48px;height:48px;" src="/static/images/portrait.jpg" alt="">
                kladmin
            </a>
        </li>   
    </div>
</div>
