<!DOCTYPE html>
<html>
    <head>
        <!--
        * Author:         OverAPI
        -->
        <meta charset="utf-8" />
        <title>ExpressJS v 4x Cheat Sheet | OverAPI.com</title>
        <meta name="author" content="OverAPI" />
        <meta name="description" content="OverAPI.com is a site collecting all the cheatsheets,all!" />
        <link rel="stylesheet" href="/static/css/default.css" type="text/css" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <script type="text/javascript" src="/static/js/jquery.1.7.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.masonry.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.quicksearch.js"></script>
        <script type="text/javascript" src="/static/js/main.js"></script>
        <!-- start Mixpanel --><script type="text/javascript">(function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.1.min.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?g=a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.identify people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1})(document,window.mixpanel||[]); mixpanel.init("ed50c28311513adf4b2293887b710db6");</script><!-- end Mixpanel -->
    </head>
    <body class="cheat-detail">
        <div id="more-list-container">
    <a href="javascript:void(0)">More &raquo;</a>
    <ul id="nav-more-list">
        <li><a href="/git" title="Git Cheat Sheet">Git</a></li>
        <li><a href="/svn" title="SVN Cheat Sheet">SVN</a></li>
        <li><a href="/mysql" title="MySQL Cheat Sheet">MySQL</a></li>
        <li><a href="/regex" title="Regular Expression Cheat Sheet">Regex</a></li>
        <li><a href="/linux" title="Linux Command Line Cheat Sheet">Linux</a></li>
        <li><a href="/html" title="HTML Cheat Sheet">HTML</a></li>
        <li><a href="/html-dom" title="HTML-DOM Cheat Sheet">HTML-DOM</a></li>
        <li><a href="/mod_rewrite" title="mod_rewrite Cheat Sheet">mod_rewrite</a></li>
        <li><a href="/#more" id="">Even More &raquo;</a></li>
    </ul>
</div>
<div id="navbar">
    <a id="logo" href="/">OverAPI.com</a>
    <ul id="navlist" class="nav">
        <li><a href="/python" title="Python Cheat Sheet">Python</a></li>
        <li><a href="/jquery" title="jQuery Cheat Sheet">jQuery</a></li>
        <li><a href="/nodejs" title="NodeJS Cheat Sheet">NodeJS</a></li>
        <li><a href="/php" title="PHP Cheat Sheet">PHP</a></li>
        <li><a href="/java" title="Java Cheat Sheet">Java</a></li>
        <li><a href="/ruby" title="Ruby Cheat Sheet">Ruby</a></li>
        <li><a href="/javascript" title="Javascript Cheat Sheet">Javascript</a></li>
        <li><a href="/actionscript" title="ActionScript Cheat Sheet">ActionScript</a></li>
        <li><a href="/css" title="CSS Cheat Sheet">CSS</a></li>
        <li><a href="/express" title="Express Cheat Sheet">Express</a></li>
        <li><a href="#more" id="nav-more">More &raquo;</a></li>
    </ul>
</div>

<div style="position:fixed;right:105px;top:10px;z-index:200;">
    <input type="" id="searchApi" placeholder="Search"/>
</div>
<div class="addthis_toolbox addthis_default_style" style="position:fixed;right:5px;top:17px;z-index:200;">
    <a class="addthis_button_facebook"></a>
    <a class="addthis_button_twitter"></a>
    <a class="addthis_button_sinaweibo"></a>
    <a class="addthis_button_compact"></a>
</div>
<div class="loading">
    Loading...
</div>

        <div class="content">
    <div class="board">
        <h2 class="board-title">Application</h2>
        <div class="board-card">
            <ul>
                <li><a href="http://expressjs.com/4x/api.html#express">express()</a></li>
                <li><a href="http://expressjs.com/4x/api.html#app-settings">application settings</a></li>
                <li><a href="http://expressjs.com/4x/api.html#app.set">app.set()</a></li>
                <li><a href="http://expressjs.com/4x/api.html#app.get">app.get()</a></li>
                <li><a href="http://expressjs.com/4x/api.html#app.enable">app.enable()</a></li>
                <li><a href="http://expressjs.com/4x/api.html#app.disable">app.disable()</a></li>
                <li><a href="http://expressjs.com/4x/api.html#app.enabled">app.enabled()</a></li>
                <li><a href="http://expressjs.com/4x/api.html#app.disabled">app.disabled()</a></li>
                <li><a href="http://expressjs.com/4x/api.html#app.use">app.use()</a></li>
                <li><a href="http://expressjs.com/4x/api.html#app.engine">app.engine()</a></li>
                <li><a href="http://expressjs.com/4x/api.html#app.param">app.param()</a></li>
                <li><a href="http://expressjs.com/4x/api.html#app.VERB">application routing</a></li>
                <li><a href="http://expressjs.com/4x/api.html#app.all">app.all()</a></li>
                <li><a href="http://expressjs.com/4x/api.html#app.route">app.route()</a></li>
                <li><a href="http://expressjs.com/4x/api.html#app.locals">app.locals</a></li>
                <li><a href="http://expressjs.com/4x/api.html#app.render">app.render()</a></li>
                <li><a href="http://expressjs.com/4x/api.html#app.listen">app.listen()</a></li>
            </ul>
        </div>
    </div>
    <div class="board">
        <div class="board-title">Request</div>
        <div class="board-card">
            <ul>
                <li><a href="http://expressjs.com/4x/api.html#req.params">req.params</a></li>
                <li><a href="http://expressjs.com/4x/api.html#req.query">req.query</a></li>
                <li><a href="http://expressjs.com/4x/api.html#req.param">req.param()</a></li>
                <li><a href="http://expressjs.com/4x/api.html#req.route">req.route</a></li>
                <li><a href="http://expressjs.com/4x/api.html#req.cookies">req.cookies</a></li>
                <li><a href="http://expressjs.com/4x/api.html#req.signedCookies">req.signedCookies</a></li>
                <li><a href="http://expressjs.com/4x/api.html#req.get">req.get()</a></li>
                <li><a href="http://expressjs.com/4x/api.html#req.accepts">req.accepts()</a></li>
                <li><a href="http://expressjs.com/4x/api.html#req.acceptsCharset">req.acceptsCharset()</a></li>
                <li><a href="http://expressjs.com/4x/api.html#req.acceptsLanguage">req.acceptsLanguage()</a></li>
                <li><a href="http://expressjs.com/4x/api.html#req.is">req.is()</a></li>
                <li><a href="http://expressjs.com/4x/api.html#req.ip">req.ip</a></li>
                <li><a href="http://expressjs.com/4x/api.html#req.ips">req.ips</a></li>
                <li><a href="http://expressjs.com/4x/api.html#req.path">req.path</a></li>
                <li><a href="http://expressjs.com/4x/api.html#req.host">req.host</a></li>
                <li><a href="http://expressjs.com/4x/api.html#req.fresh">req.fresh</a></li>
                <li><a href="http://expressjs.com/4x/api.html#req.stale">req.stale</a></li>
                <li><a href="http://expressjs.com/4x/api.html#req.xhr">req.xhr</a></li>
                <li><a href="http://expressjs.com/4x/api.html#req.protocol">req.protocol</a></li>
                <li><a href="http://expressjs.com/4x/api.html#req.secure">req.secure</a></li>
                <li><a href="http://expressjs.com/4x/api.html#req.subdomains">req.subdomains</a></li>
                <li><a href="http://expressjs.com/4x/api.html#req.originalUrl">req.originalUrl</a></li>
            </ul>
        </div>
    </div>
    <div class="board">
        <div class="board-title">Response</div>
        <div class="board-card">
            <ul>
                <li><a href="http://expressjs.com/4x/api.html#res.status">res.status()</a></li>
                <li><a href="http://expressjs.com/4x/api.html#res.set">res.set()</a></li>
                <li><a href="http://expressjs.com/4x/api.html#res.get">res.get()</a></li>
                <li><a href="http://expressjs.com/4x/api.html#res.cookie">res.cookie()</a></li>
                <li><a href="http://expressjs.com/4x/api.html#res.clearCookie">res.clearCookie()</a></li>
                <li><a href="http://expressjs.com/4x/api.html#res.redirect">res.redirect()</a></li>
                <li><a href="http://expressjs.com/4x/api.html#res.location">res.location()</a></li>
                <li><a href="http://expressjs.com/4x/api.html#res.send">res.send()</a></li>
                <li><a href="http://expressjs.com/4x/api.html#res.json">res.json()</a></li>
                <li><a href="http://expressjs.com/4x/api.html#res.jsonp">res.jsonp()</a></li>
                <li><a href="http://expressjs.com/4x/api.html#res.type">res.type()</a></li>
                <li><a href="http://expressjs.com/4x/api.html#res.format">res.format()</a></li>
                <li><a href="http://expressjs.com/4x/api.html#res.attachment">res.attachment()</a></li>
                <li><a href="http://expressjs.com/4x/api.html#res.sendfile">res.sendfile()</a></li>
                <li><a href="http://expressjs.com/4x/api.html#res.download">res.download()</a></li>
                <li><a href="http://expressjs.com/4x/api.html#res.links">res.links()</a></li>
                <li><a href="http://expressjs.com/4x/api.html#res.locals">res.locals</a></li>
                <li><a href="http://expressjs.com/4x/api.html#res.render">res.render()</a></li>
            </ul>
        </div>
    </div>
    <div class="board">
        <div class="board-title">Router</div>
        <div class="board-card">
            <ul>
                <li><a href="http://expressjs.com/4x/api.html#router">Router()</a></li>
                <li><a href="http://expressjs.com/4x/api.html#router.use">router.use()</a></li>
                <li><a href="http://expressjs.com/4x/api.html#router.param">router.param()</a></li>
                <li><a href="http://expressjs.com/4x/api.html#router.route">router.route()</a></li>
                <li><a href="http://expressjs.com/4x/api.html#router.VERB">router.VERB()</a></li>
            </ul>
        </div>
    </div>
    <div class="board">
        <div class="board-title">Middleware</div>
        <div class="board-card">
            <ul id="middleware-menu">
                <li><a href="https://github.com/expressjs/body-parser">bodyParser()</a></li>
                <li><a href="https://github.com/expressjs/compression">compress()</a></li>
                <li><a href="https://github.com/expressjs/cookie-parser">cookieParser()</a></li>
                <li><a href="https://github.com/expressjs/cookie-session">cookieSession()</a></li>
                <li><a href="https://github.com/expressjs/csurf">csrf()</a></li>
                <li><a href="https://github.com/expressjs/errorhandler">errorhandler()</a></li>
                <li><a href="https://github.com/expressjs/method-override">methodOverride()</a></li>
                <li><a href="https://github.com/expressjs/morgan">morgan()</a></li>
                <li><a href="https://github.com/expressjs/response-time">responseTime()</a></li>
                <li><a href="https://github.com/expressjs/serve-favicon">favicon()</a></li>
                <li><a href="https://github.com/expressjs/serve-index">directory()</a></li>
                <li><a href="https://github.com/expressjs/serve-static">serveStatic()</a></li>
                <li><a href="https://github.com/expressjs/timeout">timeout()</a></li>
                <li><a href="https://github.com/expressjs/vhost">vhost()</a></li>
                <li><a href="https://github.com/expressjs/session">session()</a></li>
            </ul>
        </div>
    </div>
</div>


        <!--<div class="index-tools hide" style="margin:40px 0;" id="de_donate">-->
            <!--<form name="_xclick" action="https://www.paypal.com/cgi-bin/webscr" method="post">-->
                <!--<input type="hidden" name="cmd" value="_xclick">-->
                <!--<input type="hidden" name="business" value="dewreg@gmail.com">-->
                <!--<input type="hidden" name="item_name" value="OverAPI.com Donation">-->
                <!--<input type="hidden" name="currency_code" value="USD">-->
                <!--<input type="hidden" name="amount">-->
                <!--<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">-->
            <!--</form>-->
        <!--</div>-->

        <!--<div class="board board-detail-ad hide">-->
        <div class="board hide" id="detail-ad">
            <h2 class="board-title">Ad</h2>
            <script type="text/javascript"><!--
                google_ad_client = "ca-pub-5503280202576307";
                /* overapi-160 */
                google_ad_slot = "2656228683";
                google_ad_width = 160;
                google_ad_height = 600;
                -->
            </script>
            <script type="text/javascript"><!--
                //google_ad_client = "ca-pub-5503280202576307";
                 //overapi-tools */
                //google_ad_slot = "0215957718";
                //google_ad_width = 728;
                //google_ad_height = 90;
                -->
            </script>
            <script type="text/javascript"
                src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
        </div>

        <script type="text/javascript">
            $('.content').append($('#detail-ad'));
            $('#detail-ad').removeClass('hide');

            //$('.board-detail-ad').removeClass('hide');
            $(function(){
                //$('#de_donate').removeClass('hide');
                //mixpanel.track('Page Loading',{'PageURL':location.href});
            })
        </script>

        <script type="text/javascript" src="http://js.tongji.linezing.com/2871480/tongji.js"></script><noscript><a href="http://www.linezing.com"><img src="http://img.tongji.linezing.com/2871480/tongji.gif"/></a></noscript>
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4fddf49419e0facd"></script>
</body>
</html>
