<div id="collections">
        {{range .Catalogs}}
        <div class="collection-card" itemscope="" itemtype="http://schema.org/CollectionPage">
            <a style="border-top:1px solid #eee;border-bottom:1px solid #eee;" href="/catalog/{{.Ident}}">{{.Title}}</a>
            <div class="card-info">
                <a href="/catalog/{{.Ident}}"><h3 class="collection-name">{{.Title}}</h3></a>

                <p class="description">
                    {{.Keywords}}
                </p>
            </div>
            
        </div>
        {{end}}
</div>
