<div class="col-md-9 col-sm-8">
    {{range .Articles}}
    <div class="media-list">
        <li class="media" >
        <a class="pull-left" href="/user/{{.Id}}" data-original-title="" title="">
                <img class="media-object" style="width:48px;height:48px;" src="/static/images/portrait.jpg" alt="">
            </a>
            <div class="pull-right">
                <a class="views" href="/article/{{.Ident}}">浏览<em>{{.Views}}</em></a>
                <a class="answers" href="/article/{{.Ident}}">回答<em>1</em></a>
            </div>
            <div class="media-body">
                <h2 class="media-heading">
                    <span class="glyphicon glyphicon-question-sign"></span> 
                    <a href="/article/{{.Ident}}">{{.Title}}</a>
                </h2>
                <div class="media-action">
                    <a href="/user/{{.Id}}">kladmin</a> 发布于 {{.Updated_at}}<span class="dot"> • </span>
                    <span class="glyphicon glyphicon-thumbs-up"></span> {{.Up}}       
                </div>
            </div>
        </li>
    </div>
    {{end}}
    {{template "public/paginator.html" .}}
</div>

<div class="col-md-3 col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading">热门主题</div>
        <div class="panel-body">
            <ul class="list">
            {{range .HotArticles}}
                <li>
                <a href="/article/{{.Ident}}" title="" data-toggle="tooltip" data-original-title="流年">{{.Title}}</a>
                </li>
            {{end}}
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">热门标签</div>
        <div class="panel-body">
            <ul class="tag-list">
            {{range .HotTags}}
                <li><span class="label label-primary"><a href="/article/{{.Ident}}">{{.Name}}</a></span></li>
            {{end}}
            </ul>
        </div>
    </div>
</div>
