<div class="col-md-9 col-sm-8">
    <div id="collections">
            {{range .Catalogs}}
            <div class="collection-card" itemscope="" itemtype="http://schema.org/CollectionPage">
                <a style="border-top:1px solid #eee;border-bottom:1px solid #eee;" href="/catalog/{{.Ident}}"><img class="cover" src="{{.ImgUrl}}" alt="{{.Name}}"></a>
                <div class="card-info">
                    <a href="/catalog/{{.Ident}}"><h3 class="collection-name">{{.Name}}</h3></a>

                    <p class="description">
                        {{.Resume}}
                        {{if $.IsAdmin}}
                        <div>
                        (<a style="display:inline;" href="/me/catalog/edit?id={{.Id}}">Edit</a><span class="cut-line">|</span><a style="display:inline;" href="/me/catalog/del?id={{.Id}}">Del</a>)
                        </div>
                        {{end}}
                    </p>
                </div>
                
            </div>
            {{end}}
    </div>
</div>

<div class="col-md-3 col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading">热门主题</div>
        <div class="panel-body">
            <ul class="list">
            {{range .HotArticles}}
                <li>
                <a href="/article/{{.Ident}}" title="" data-toggle="tooltip" data-original-title="流年">{{.Title}}</a>
                </li>
            {{end}}
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">热门标签</div>
        <div class="panel-body">
            <ul class="tag-list">
            {{range .HotTags}}
            <li><span class="label {{.Id | getTagColor}}"><a href="/article/{{.Ident}}">{{.Name}}</a></span></li>
            {{end}}
            </ul>
        </div>
    </div>
</div>
