@charset "utf-8";
.index-content a {
    cursor: pointer;
    text-decoration: none;
    margin: 30px auto;
    width: 900px;
}
.lang-logo {
    background-color: #fff;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 90% auto;
    border-radius: 50em;
    display: inline-block;
    height: 100px;
    margin: 30px 22px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 102px;
}
.lang-logo span {
    background-color: rgba(30, 30, 30, 0.9);
    border-radius: 50em;
    color: #fff;
    display: none;
    font-size: 18px;
    height: 100%;
    left: 0;
    line-height: 100px;
    position: absolute;
    text-decoration: none;
    width: 100%;
}
.back-to-top {
    bottom: 0;
    display: none;
    height: 40px;
    overflow: hidden;
    position: fixed;
    width: 100px;
}


.content {
    display: none;
    margin: 0 auto;
    border-radius: 8px;
    background: #000 url("/static/images/background.jpg") repeat fixed 100% 100%;
}
ol, ul {
    list-style: outside none none;
}
.board {
    border-radius: 8px;
    margin: 5px 8px;
    padding: 15px;
    width: 200px;
}
.board-detail-ad {
    margin: 50px auto 20px;
    padding-top: 8px;
    text-align: center;
    width: 750px;
}
.board-detail-ad .board-title {
    font-size: 22px;
}
.content-250 {
    margin: 0 auto;
}
.content-250 .board {
    margin: 5px 10px;
    width: 208px;
}
.content-400 {
    margin: 0 auto;
}
.content-400 .board {
    margin: 40px 10px 5px;
    width: 400px;
}
.board-title {
    border-bottom: 1px solid #ccc;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
    padding-bottom: 3px;
    padding-right: 10px;
    text-align: right;
}
.board-card {
    margin-bottom: 15px;
    word-break: break-all;
}
.board-card a {
    color: #fff;
    display: block;
    font-size: 14px;
    text-decoration: none;
}
.board-card a:hover {
    background: #ccc none repeat scroll 0 0;
    color: #000;
}
.board-card-title {
    color: #f4fcbb;
    font-size: 16px;
    font-weight: bold;
}
.board-card li {
    color: #fff;
}
.board-card h3.inactive {
    color: #fff;
}
.board-card li.tip {
    color: #999;
    font-size: 13px;
    font-style: italic;
    padding-left: 15px;
}
.board-card li.inactive {
    color: #666;
    cursor: default;
}
.board-card li.inactive a {
    color: #666;
    cursor: default;
}
.board-card li.inactive a:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #666;
}
.board-326 {
    min-height: 326px;
}

