<!DOCTYPE html>
<html>
<head>
    <title>{{.PageTitle}} - {{.BlogTitle}}</title>
    <meta charset="utf-8">
    <meta name="keywords" content="个人博客,技术博客,专注于分享技术blog">
    <meta name="description" content="scloudrun是一个分享,传播,交流技术的博客blog,致力于提高自身技术,更好的服务于未来">
    <script type="text/javascript" src="/static/javascript/lib.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/blog.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/g.css"/>
    <link href="/static/css/validator/jquery.validator.css" rel="stylesheet">
    <script src="/static/javascript/validator/jquery.validator.js"></script>
    <script src="/static/javascript/validator/zh_CN.js"></script>
    <link rel="shortcut icon" href="/static/favicon.ico">
</head>
<body>
    {{template "menu" .}}
    {{template "introduce" .}}

    <div class="container">
        <div class="row" >
            {{.LayoutContent}}
        </div>
    </div>

<div class="clear"></div>

    {{template "footer" .}}

</body>
</html>
