{{define "footer"}}

<footer class="mt20">
    <div class="container">
        <div class="row" style="margin-left:15px;margin-right:15px;">
            <div class="site-source">

            <span class="pull-left">Copyright &copy; 2016-2017 ,Framework by <a href="http://www.beego.me">Beego</a>. All Rights Reserved.</span>atches, suggestions, and comments are welcome.
            </div>
            <div class="sfc-member">
                Developed by <a href="http://www.scloudrun.com" target="_blank">神俞</a>
            </div>
        </div>
    </div>
</footer>

{{end}}
